h1, h4 {
	text-align: center;
}

a {
	color: black;
}

.content {
   display: flex;
   justify-content: center;
}
.mdbutton{
	text-align: center;
}
.selectbutton {
	text-align: center;
}
.replyList{
	display: flex;
    justify-content: center;
}
.replyWrite {
	text-align: center;
}